.settings {
  box-sizing: border-box;
  border: 1px solid var(--bg-color-primary);
}
.settings__title {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.settings__img {
  width: 100px;
  display: block;
  margin: 15px auto;
}
.setting__input {
  padding: 10px;
  margin: 0 auto;
  width: 70%;
  display: block;
  margin-bottom: 15px;
  border: none;
  outline: none;
}
button {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 8px 15px;
  color: white;
  background: black;
  border: none;
  cursor: pointer;
  outline: none;
}
